		<div id="menu-wrapper">
			<ul id="menu">
				<li><%= link_to "Home", root_path %></li>
				<li class="current_page_item"><%= link_to "Siva", colleges_staff_path %></li>
				<li><span>Blog</span>
					<ul>
						<li class="first"> <a href="index">Maecenas luctus lectus</a> </li>
						<li> <a href="search">Integer gravida</a> </li>
						<li class="last"> <a href="about">Ut nonummy rutrum</a> </li>
					</ul>
				</li>
				<li><%= link_to "Sahu", colleges_student_path %></li>
				<li><a href="#"><span>Srinivas</span></a></li>
				<li><span>Links</span>
					<ul>
						<li class="first"> <a href="index">Maecenas luctus lectus</a> </li>
						<li> <a href="search">Integer gravida</a> </li>
						<li class="last"> <a href="about">Ut nonummy rutrum</a> </li>
					</ul>
				</li>
				<li><a href="#"><span>Sridevi</span></a></li>
			</ul>
			<script type="text/javascript">
			$('#menu').dropotron();
		</script> 
		</div>
		<!-- end #menu -->